body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: blueviolet;
}

.cadastrar{
    margin-top: 100px;
    margin-left: 40%; 
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
    height: 500px;
    background-color: #ffffffc3;
    padding: 20px;
    border-radius: 8px;
    font-family:serif;
    width: 300px;
    font-size: 20px;
}
.email{
    margin-top: 10px;
    margin-bottom: 10px;
}
.senha{
    margin-top: 10px;
    margin-bottom: 10px;
}
.usuario{
    margin-top: 10px;
    margin-bottom: 10px;
}