body {
    font-family: 'Arial', sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    color: #2c1a74;
    margin-top: 20px;
}

p {
    text-align: center;
}

/* Seção de produtos */
.produtos {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 30px;
}

/* Estilo dos produtos */
.produto {
    background-color: #fff;
    border-radius: 8px;
    padding: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 180px;
    transition: transform 0.2s;
}

.produto:hover {
    transform: translateY(-5px);
}

.produto label {
    display: block;
    margin-bottom: 10px;
    font-size: 16px;
    color: #333;
}

.produto input {
    margin-top: 10px;
    cursor: pointer;
    accent-color: #eebde3;
}

/* Botão mostrar carrinho */
.botao-carrinho {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    background-color: #2c1a74;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}


.botao-carrinho:hover {
    background-color: #4b299d;
}

/* Carrinho de compras */
.carrinho {
    margin: 40px auto;
    width: 80%;
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    display: none;
}

.carrinho h2 {
    text-align: center;
    color: #2c1a74;
    margin-bottom: 20px;
}

.carrinho table {
    width: 100%;
    border-collapse: separate;
    margin-bottom: 20px;
}

.carrinho th, .carrinho td {
    padding: 12px;
    border: 1px solid #eee;
    text-align: center;
}

.carrinho th {
    background-color: #2c1a74;
    color: white;
}

.carrinho td {
    background-color: #f9f9f9;
}

/* Botões de ações */
.detalhes-compra {
    text-align: center;
    margin-top: 10px;
    display: none;
}

.detalhes-compra button {
    background-color: #eebde3;
    color: black;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-left: 10px;

}

.detalhes-compra button:hover {
    background-color: #4b299d;
}

.botao-continuar a {
    text-decoration: none;
    color: black;
}